<p id="notice"><%= notice %></p>

<h1>Search Twitter</h1>

<a href="#" id="healthcare" class="button">healthcare</a>
<a href="#" id="nasa" class="button success">nasa</a>
<a href="#" id="open-source" class="button info">open source</a>

<table id="table_id" class="display datatable" data-request-url="/tweets/search">
  <thead>
    <tr>
      <th>Screen Name</th>
      <th>Body</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>
