<p id="notice"><%= notice %></p>

<h1>Show Me Tweets</h1>

<a href="#" id="healthcare" class="button "><i class="fa fa-plus-square"></i> healthcare</a>
<a href="#" id="nasa" class="button success"><i class="fa fa-rocket"></i> nasa</a>
<a href="#" id="open-source" class="button info"><i class="fa fa-github"></i> open source</a>

<table id="table_id" class="display datatable" data-request-url="/tweets/search.json">
  <thead>
    <tr>
      <th>Screen Name</th>
      <th>Body</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>
