<h1>Twitter Searcher</h1>

<p>A simple app for searching and browsing tweets.</p>

<p><%= link_to "Search!", tweet_search_path, class: "button" %></p>

<h2>Source and API documentation</h2>

<p>The source and documentation lies at
<%= link_to "https://github.com/cblair/twitter_searcher", "https://github.com/cblair/twitter_searcher" %>
</p>